:root {
  --page-max-width: 1280px;
  --white: #fff;
  --white100: #f6f7f9;
  --white200: #edeef3;
  --border: 1px solid var(--white200);
}

body {
  font-family: sans-serif;
  background: var(--white);
}

header {
  background: var(--white100);
  border-bottom: var(--border);
}

.top-nav {
  display: flex;
  justify-content: space-between;
  max-width: var(--page-max-width);
  margin: 0 auto;
}
